* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Montserrat", sans-serif;
}

body {
  /* background: linear-gradient(300deg, #f4f798 0%, #f8f9d0 50%, #ffffff 100%); */
  background: radial-gradient(
      circle at top,
      #f6f4be 0%,
      #f9d8d825 10%,
      #fff 20%,
      #fff 30%,
      #fff 40%,
      #fff 50%,
      #fff 60%,
      #fff 70%,
      #fff 80%,
      #fff 90%,
      #fff 100%
    )
    no-repeat;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #0065fe;
}

.navbar .logo img {
  width: 24px;
  height: 24px;
}

.navbar .logo span {
  font-weight: normal;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a.active {
  color: #0065fe;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.auth-buttons a {
  text-decoration: none;
  color: #007bff;
}

.auth-buttons button {
  border-radius: 50px;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 60px;
  padding-bottom: 0px;
}

.hero h1 {
  font-size: 48px;
  line-height: 96px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content .hero-text {
  text-align: center;
  margin: 1rem;
  width: 781px;
  height: 105px;
}

.highlight {
  position: relative;
  color: #005ae2;
}

.highlight img {
  position: absolute;
  top: 3.5rem;
  left: 5rem;
  width: 173.63px;
  height: 19.91px;
}

.hero-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0962c2;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-secondary:hover {
  background-color: #007bff20;
}

.hero-image {
  position: relative;
  margin-top: 50px;
}

.hero-image img:first-child {
  width: 768px;
  height: 224px;
}
.hero-image img:nth-child(2) {
  position: absolute;
  top: -12px;
  left: 340px;
  width: 238.55px;
  height: 251.2px;
  z-index: -1;
}
.hero-image img:last-child {
  margin-top: 20px;
  height: 93px;
}

.stats {
  background-color: #f9fbfd;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 140px;
}

.stat-caption {
  font-size: 40px;
  font-weight: bold;
}

.stat-caption p span {
  color: #005ae2;
}

.items {
  display: flex;
  gap: 30px;
}

.stat-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.stat-item p {
  width: 160px;
  font-weight: 300;
  font-size: 16px;
  color: #141414;
}

/* Features Section */
.features {
  display: flex;
}

.features .top {
  width: 40%;
  padding: 60px;
}

.features .cap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.features .cap h2 {
  font-size: 40px;
  width: 100%;
}

.features .cap > span {
  height: 48px;
  width: 5px;
  background: linear-gradient(to top, #4d6b8800 0%, #112232 100%);
}

.features .cap p {
  width: 370px;
  font-size: 16px;
  color: #141414;
}

.features .feature-container {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.features .feature-container .group-one,
.features .feature-container .group-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features .feature-container .feature > div {
  margin: 30px 0;
}

.features .feature-container .feature h3 {
  font-size: 32px;
}

.features .feature-container .feature p {
  width: 340px;
  font-size: 16px;
  color: #141414;
}

/* Pricing Section */
.pricing {
  padding-bottom: 5rem;
}

.pricing .cap {
  margin: 8rem 0 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing .cap > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pricing .cap h2 {
  font-size: 40px;
}

.bar {
  height: 44px;
  width: 5px;
  background: linear-gradient(to top, #4d6b8800 0%, #112232 100%);
}

.pricing .cap p {
  width: 580px;
  font-size: 16px;
  color: #141414;
}

.pricing-cards {
  margin: 10rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24rem;
}

.pricing-card {
  background: white;
  height: 455px;
  padding: 20px 70px;
  border: 1px solid #005ae2;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.pricing-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.pricing-card p {
  font-size: 24px;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
}

.pricing-card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-cards .amount {
  font-size: 40px;
  font-weight: 600;
}

.pricing-cards .narr {
  font-weight: lighter;
  font-size: 20px;
}

.pricing-cards .professional {
  position: absolute;
  left: 35%;
  background-color: #1e3448;
  padding: 70px;
  border: none;
  color: #fff;
  height: 600px;
  width: 410px;
}

.pricing-cards .professional .amount {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.pricing-cta {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

/* Trin URL section/Mid section */
.mid-sec {
  position: relative;
  background: #1e3448;
  color: #fff;
  height: 523px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-sec .midBg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 525px;
}

.mid-sec .midBg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 550px;
}

.mid-sec-content {
  padding: 2.5rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 476px;
  height: 355px;
  margin: 0 auto;
  z-index: 10;
}

.mid-sec-content input::placeholder {
  color: #005ae2;
}

.url-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.url-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #005ae2;
  border-radius: 12px;
  font-size: 12px;
  outline: none;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.domain-select,
.alias-input {
  color: #005ae2;
  padding: 1rem;
  border: 1px solid #005ae2;
  border-radius: 12px;
  font-size: 12px;
  outline: none;
}

.domain-select {
  width: 100%;
  max-width: 200px;
  appearance: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.select-wrapper i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #005ae2;
}

.alias-input {
  flex: 1;
}

.trim-button {
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s;
}

.trim-button:hover {
  background: #2563eb;
}

.terms-text {
  font-size: 0.9rem;
  color: #666;
}

.terms-text a {
  font-weight: bold;
  color: #3b82f6;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}

/* FAQs Section */
.FAQ {
  position: relative;
}

.FAQ .faqBg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 800px;
  z-index: -1;
}

.FAQ .faqBg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 400px;
  z-index: -1;
}

.faqs {
  padding: 5rem 0 10rem;
  width: 60%;
  margin: 0 auto;
}

.faqs > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.faqs h2 {
  font-size: 40px;
}

.faqs details {
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}

summary::-webkit-details-marker {
  display: none;
}

.faqs details summary {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}

.faqs details summary::before {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 24px;
}

.faqs details[open] summary::before {
  content: "–";
}

.faqs details p {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.bot-sec {
  position: relative;
  background: #1e3448;
  color: #fff;
  height: 299px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-sec .botBg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
}

.bot-sec .botBg2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 300px;
}

.bot-sec .bot-sec-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  z-index: 10;
}

.bot-sec .bot-sec-content h2 {
  font-size: 40px;
}

/* Footer Section */
footer {
  position: relative;
}

footer .footBg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 670px;
  z-index: -1;
}

footer .footBg2 {
  position: absolute;
  bottom: -16px;
  right: 0;
  width: auto;
  height: 330px;
  z-index: -1;
}

.footer-container {
  display: flex;
  padding-top: 5rem;
  max-width: 1000px;
  gap: 5rem;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo img {
  height: 40px;
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icon {
  text-decoration: none;
  color: #333;
}

.social-icon i {
  font-size: 24px;
  transition: 0.3s ease;
}

.social-icon i:hover {
  transform: translateY(-3px);
  color: #007bff;
}

.footer-columns {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column > div {
  height: 128px;
  margin-bottom: 80px;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin-bottom: 7px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #000;
}

.footer-bottom {
  text-align: right;
  margin-top: 70px;
  padding: 20px 90px;
  font-size: 14px;
  font-weight: 300;
  word-spacing: 3px;
  color: #112232;
}

/* Responsiveness (only mobile for now) */
@media (max-width: 768px) {
  /* Nav */
  .navbar {
    padding: 20px;
    flex-wrap: wrap;
    gap: 4px;
  }

  .navbar .logo {
    margin: 0 auto;
  }

  .nav-links {
    margin: 20px auto;
    gap: 9px;
  }

  .nav-links a i {
    font-size: 10px;
  }

  .auth-buttons {
    margin: 0 auto;
  }

  /* Hero */
  .hero {
    padding: 10px 20px 0;
  }

  .hero h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .highlight img {
    position: absolute;
    top: 1.7rem;
    left: 2.5rem;
    width: 90px;
    height: 12px;
  }

  .hero-content .hero-text {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .hero-image img:first-child {
    width: 100%;
    height: auto;
  }

  .hero-image img:nth-child(2) {
    position: absolute;
    top: -12px;
    left: 0;
    width: 135px;
    height: 125px;
    z-index: -1;
  }

  .hero-image img:last-child {
    width: 100%;
    height: auto;
  }

  /* Stats */
  .stats {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .stat-caption {
    font-size: 30px;
  }

  .stat-item h2 {
    font-size: 24px;
  }

  .stat-caption {
    margin-bottom: 30px;
    text-align: center;
  }

  .items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }

  .stat-item p {
    width: auto;
  }

  /* Features */
  .features {
    flex-direction: column;
  }

  .features .top {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
  }

  .features .top .cap > span {
    height: 35px;
  }
  .features .top .cap h2 {
    font-size: 30px;
    padding: 20px 0;
  }

  .features .feature-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    padding: 0 20px;
  }

  .features .feature-container .group-one,
  .features .feature-container .group-two {
    display: flex;
    gap: 20px;
  }

  .features .feature-container .feature > div {
    margin: 0;
  }

  .features .feature-container .feature h3 {
    font-size: 24px;
  }

  .feature-container .feature p {
    width: 100%;
  }

  /* Pricing */
  .pricing .cap {
    margin: 4rem 0 3rem;
    padding: 0 20px;
  }

  .pricing .cap h2 {
    font-size: 30px;
  }

  .pricing .cap > div > span {
    height: 70px;
    width: 7px;
  }

  .pricing .cap p {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .pricing-cards {
    margin: 5rem 20px;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: static;
  }

  .pricing-card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
  }

  .pricing-cards .professional {
    position: static;
    left: auto;
    background-color: #1e3448;
    color: #fff;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 40px 20px;
  }

  .pricing-cta {
    padding: 0 10px;
    gap: 10px;
  }

  /* MID (Trim URL) */
  .mid-sec {
    height: auto;
    padding: 60px 20px;
    overflow: hidden;
  }

  .mid-sec-content {
    max-width: 100%;
    width: 100%;
    padding: 1.2rem;
    margin: 0 auto;
    height: auto;
  }

  .url-input,
  .domain-select,
  .alias-input {
    font-size: 14px;
  }

  .select-wrapper,
  .domain-select {
    max-width: 100%;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  /* FAQS */
  .faqs {
    width: 90%;
    padding: 3rem 0 5rem;
  }

  .faqs > div {
    margin-bottom: 20px;
  }

  .faqs h2 {
    font-size: 32px;
  }

  /* Bot sec*/
  .bot-sec {
    height: auto;
    padding: 60px 20px;
    text-align: center;
    overflow: hidden;
  }

  .bot-sec .bot-sec-content h2 {
    font-size: 30px;
  }

  /*Footer*/
  footer {
    overflow: hidden;
    scrollbar-width: none;
  }

  footer .footBg1 {
    width: 100%;
    height: 2000px;
  }

  .footer-logo img {
    height: 40px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
  }

  .footer-columns {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .footer-column {
    overflow: scroll;
    scrollbar-width: none;
  }

  .footer-column > div {
    margin-bottom: 40px;
  }

  .footer-bottom {
    margin-top: 0;
    text-align: center;
    padding: 20px;
  }
}
